# Python
.venv/
__pycache__/
*.py[cod]

# Django
*.log
staticfiles/
media/

# Environment
.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

backend/media/